<table class="table table-bordered table-hover">
  <tr>
    <th rowspan="2">Logo</th>
    <th rowspan="2">Name
      <% unless defined?(skip_player) && skip_player == true %>
      - Player
      <% end %>
      <br/>Description</th>
    <th colspan="3">Statistics</th>
    <th rowspan="2"></th>
    <th rowspan="2"></th>
  </tr>
  <tr>
    <th>Wai</th>
    <th>Mem</th>
    <th>Exm</th>
  </tr>

<% schools.each do |school| %>
  <tr>
    <td><%= link_to image_tag(school.logo.url(:thumb), :class => "img-rounded"), school %></td>
    <td><b><%= link_to school.name, school %></b>
      <% unless defined?(skip_player) && skip_player == true %>
      - <i><%= link_to school.player.name, school.player %></i>
      <% end %>
      <br/><%= school.description %></td>
    <td><%= school.waitlist.size =%></td>
    <td><%= school.members.size =%></td>
    <td><%= school.exmembers.size =%></td>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
