<p id="notice"><%= notice %></p>

<div class="row">
<div class="span3 box">
  <%= image_tag @school.logo.url(:medium), :class => "img-rounded" %>
  <h1><%= @school.name %></h1>
  <i><%= link_to @school.player.name, @school.player %></i>
  <p><%= @school.description %></p>
  <%= link_to 'Edit', edit_school_path(@school) %> |
  <%= link_to 'Back', schools_path %>
</div>
<div class="span9">
  <h2>Buddies</h2>
  <h3>Waitlist</h3>
  <%= render "buddies/selectable_table", :buddies => @school.waitlist, :action => "/schools/add_members", :commits => ["accept", "reject"] %>
  <h3>Members</h3>
  <%= render "buddies/selectable_table", :buddies => @school.members, :action => "/schools/dismiss_members", :commits => ["dismiss"] %>
  <h3>Ex-Members</h3>
  <%= render "buddies/table", :buddies => @school.exmembers %>

  <h2>Courses</h2>
  <%= render "courses/table", :courses => @school.courses %>

</div>
</div>
