<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Martial Arts Manager</a>
      <ul class="nav">
        <%= render 'menu_items' %>
      </ul>
      <ul class="nav pull-right">
	<%= render 'login_menu_items' %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div>

</body>
</html>
