/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require twitter/bootstrap
 *= require_self
 */

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.box
{
  background-color: #eeeeee;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  min-height: 40px;
  margin-bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.box:hover
{
  background-color: #dddddd;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

.table th
{
  padding: 2px 4px 2px 8px;
#  line-height: 10px;
  text-align: left;
  vertical-align: top;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
  font-size: small;
}

.table-hover tbody tr:hover th
{
  background-color: #ffffff;
}

.attribute
{
  color: #ffffff;
  float:left;
  text-align: right;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  background-color: #999;
  padding-top: 12px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 7px;
  border-radius: 9px;
  margin: 4px 4px 8px 4px;
  width: 65px;
}

.attribute:hover
{
    background-color: #888;
}

.attribute-value
{
  font-size: xx-large;
  font-weight: bold;
}

.attribute-label
{
  font-size: small;
}

.attribute-strength, .attribute-train_strength
{
  color: #fff;
  background-color: #d55;
}

.attribute-strength:hover, .attribute-train_strength:hover
{
  background-color: #c44;
}

.attribute-constitution, .attribute-train_constitution
{
  color: #000;
  background-color: #5d5;
}

.attribute-constitution:hover, .attribute-train_constitution:hover
{
  background-color: #4c4;
}

.attribute-dexterity, .attribute-train_dexterity
{
  color: #fff;
  background-color: #55d;
}

.attribute-dexterity:hover, .attribute-train_dexterity:hover
{
  background-color: #44e;
}

.attribute-speed, .attribute-train_speed
{
  color: #000;
  background-color: #dd5;
}

.attribute-speed:hover, .attribute-train_speed:hover
{
  background-color: #cc4;
}

.attribute-flexibility, .attribute-train_flexibility
{
  color: #fff;
  background-color: #d5d;
}

.attribute-flexibility:hover, .attribute-train_flexibility:hover
{
  background-color: #c4c;
}

.attribute-reaction, .attribute-train_reaction
{
  color: #000;
  background-color: #5dd;
}

.attribute-reaction:hover, .attribute-train_reaction:hover
{
  background-color: #4cc;
}

.attribute-skill, .attribute-train_skill
{
  color: #fff;
  background-color: #555;
}

.attribute-skill:hover, .attribute-train_skill:hover
{
  background-color: #444;
}

.attribute-intelligence, .attribute-train_intelligence
{
  color: #000;
  background-color: #ddd;
}

.attribute-intelligence:hover, .attribute-train_intelligence:hover
{
  background-color: #ccc;
}

.attribute-suitability
{
  color: #fff;
  background-color: #950;
  width: 152px;
}

.attribute-suitability:hover
{
  background-color: #840;
}

.attribute-motivation
{
  color: #000;
  background-color: #d90;
  width: 152px;
}

.attribute-motivation:hover
{
  background-color: #e80;
}

.attribute-teachFactor, .attribute-learnFactor, .attribute-intensity, .attribute-risk
{
  width: 152px;
}
