<%= form_for(@buddy) do |f| %>
  <% if @buddy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buddy.errors.count, "error") %> prohibited this buddy from being saved:</h2>

      <ul>
      <% @buddy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= collection_select :buddy, :school_id, @schools, :id, :name, {:include_blank => "None"} %>
  </div>
  <div class="field">
    <%= f.label :waitlist %><br />
    <%= f.check_box :waitlist %>
  </div>
  <div class="field">
    <%= f.label :strength_exp %><br />
    <%= f.number_field :strength_exp %>
  </div>
  <div class="field">
    <%= f.label :constitution_exp %><br />
    <%= f.number_field :constitution_exp %>
  </div>
  <div class="field">
    <%= f.label :dexterity_exp %><br />
    <%= f.number_field :dexterity_exp %>
  </div>
  <div class="field">
    <%= f.label :speed_exp %><br />
    <%= f.number_field :speed_exp %>
  </div>
  <div class="field">
    <%= f.label :flexibility_exp %><br />
    <%= f.number_field :flexibility_exp %>
  </div>
  <div class="field">
    <%= f.label :reaction_exp %><br />
    <%= f.number_field :reaction_exp %>
  </div>
  <div class="field">
    <%= f.label :skill_exp %><br />
    <%= f.number_field :skill_exp %>
  </div>
  <div class="field">
    <%= f.label :intelligence_exp %><br />
    <%= f.number_field :intelligence_exp %>
  </div>
  <div class="field">
    <%= f.label :suitability %><br />
    <%= f.number_field :suitability %>
  </div>
  <div class="field">
    <%= f.label :motivation %><br />
    <%= f.number_field :motivation %>
  </div>
  <div class="field">
    <%= f.label :injured %><br />
    <%= f.number_field :injured %>
  </div>
  <div class="field">
    <%= f.label :number_of_fights %><br />
    <%= f.number_field :number_of_fights %>
  </div>
  <div class="field">
    <%= f.label :number_of_wins %><br />
    <%= f.number_field :number_of_wins %>
  </div>
  <div class="field">
    <%= f.label :number_of_draws %><br />
    <%= f.number_field :number_of_draws %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
