<% if buddies.size == 0 %>
 - none -
<% else %>
<% commits ||= [] %>
<% id = action[1..-1].gsub("/", "_") %>

<%= form_tag action, :id => id do %>
<% if defined? @school %>
  <%= hidden_field_tag 'school', @school.id %>
  <%= hidden_field_tag 'return_to', url_for(@school) %>
<% end %>
<% if defined? @course %>
  <%= hidden_field_tag 'course', @course.id %>
  <%= hidden_field_tag 'return_to', url_for(@course) %>
<% end %>

<%= render "buddies/table", :buddies => buddies, :selectable => id, :school => nil %>

<div align="right">
<% commits.each do |commit| %>
  <%= submit_tag commit.capitalize%>
<% end %>
</div>

<% end %>

<% end %>
