<% if buddies.size == 0 %>
 - none -
<% else %>
<% selectable ||= false %>

<table class="table table-bordered table-hover" style="width:100%">
  <tr>
    <th rowspan="2">Name&nbsp;(Age)
    <% unless defined?(school) %><br/>
    <i>School</i>
    <% end %></th>
    <th rowspan="2">Belt</th>
    <th colspan="10">Attributes</th>
    <th rowspan="2">injured</th>
    <th>fight stats</th>
    <% if selectable %><th rowspan="2">all<br/><input type="checkbox" class="checkall" /></th><% end %>
    <!--th rowspan="2"></th>
    <th rowspan="2"></th-->
  </tr>
  <tr>
    <th><abbr title="Strength">str</abbr></th>
    <th><abbr title="Constitution">con</abbr></th>
    <th><abbr title="Dexterity">dex</abbr></th>
    <th><abbr title="Speed">spd</abbr></th>
    <th><abbr title="Flexibility">flx</abbr></th>
    <th><abbr title="Reaction">rea</abbr></th>
    <th><abbr title="Skill">skl</abbr></th>
    <th><abbr title="Intelligence">int</abbr></th>
    <th><abbr title="Suitability">sut</abbr></th>
    <th><abbr title="Motivation">mot</abbr></th>
    <th><abbr title="Total/Win/Lose/Draw">T/W/L/D</abbr></th>
  </tr>

<% buddies.each do |buddy| %>
  <tr>
    <td><%= link_to buddy.name, buddy %>&nbsp;(<%= buddy.age %>)
    <% unless defined?(school) %><br/>
    <i><%= link_to buddy.attending_school.name, buddy.attending_school if buddy.attending_school %></i>
    <% end %></td>
    <td><%= image_tag "belts/#{buddy.belt_color}_belt.png" %></td>
    <td><%= buddy.strength %></td>
    <td><%= buddy.constitution %></td>
    <td><%= buddy.dexterity %></td>
    <td><%= buddy.speed %></td>
    <td><%= buddy.flexibility %></td>
    <td><%= buddy.reaction %></td>
    <td><%= buddy.skill %></td>
    <td><%= buddy.intelligence %></td>
    <td><%= buddy.suitability %>%</td>
    <td><%= buddy.motivation %>%</td>
    <td><%= buddy.injured != 0 ? buddy.injured : "- no -" %></td>
    <td><%= buddy.number_of_fights %>/<%= buddy.number_of_wins %>/<%= buddy.number_of_losses %>/<%= buddy.number_of_draws %></td>
    <% if selectable %><td><%= check_box_tag "buddies[#{buddy.id}]", nil, nil, :class =>'check' %></td><% end %>
    <!--td><%= link_to 'Edit', edit_buddy_path(buddy) %></td>
    <td><%= link_to 'Destroy', buddy, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
<% end %>
