<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span3 box">
    <%= image_tag "buddies/buddy_#{@buddy.belt_color}.png", :class => "img-rounded", :width => 200 %>
    <h1><%= @buddy.name %> (<%= @buddy.age %>)</h1>
    <% if @buddy.injured != 0 %><div class="alert alert-error">Injured: <strong><%= @buddy.injured %></strong></div>
    <% else %><div class="alert alert-success">Not injured</div>
    <% end %>
    <i><%= link_to @buddy.attending_school.name, @buddy.attending_school if @buddy.attending_school %></i>
    <br/>
    <%= link_to 'Edit', edit_buddy_path(@buddy) %> |
    <%= link_to 'Back', buddies_path %>
  </div>
  
  <div class="span9">
    <h2>Attributes</h2>
    <div class="row">
      <div class="span5">
	<% ["strength", "constitution", "dexterity", "speed", "flexibility", "reaction", "skill", "intelligence"].each do |attr| %>
	<%= attribute_badge(@buddy, attr) %>
	<% end %>

	<% {"number_of_fights" => "Fights", "number_of_wins" => "Wins", "number_of_losses" => "Losses", "number_of_draws" => "Draws"}.each do |attr, label| %>
	<%= attribute_badge(@buddy, attr, label) %>
	<% end %>

      </div>
      <div class="span4">
	<%= image_tag attribute_bar_chart_url(@buddy) %>
      </div>
    </div>
    
    <div class="row">
      <div class="span5">
	<% ["suitability", "motivation"].each do |attr| %>
	<%= attribute_badge(@buddy, attr, attr.capitalize, false) %>
	<% end %>
      </div>
      <div class="span4">
	<%= image_tag motivation_bar_chart_url(@buddy) %>
      </div>
    </div>

    <div class="row">
      <div class="span5">
	<% ["actions", "hitpoints", "damage", "resistance"].each do |attr| %>
	<%= attribute_badge(@buddy, attr) %>
	<% end %>
	
	<% {"toHit" => "Hit", "toCriticalHit" => "Critical", "toDefend" => "Defend"}.each do |attr, label| %>
	<%= attribute_badge(@buddy, attr, label, true) %>
	<% end %>
	<%= attribute_badge(@buddy, "injured") %>

	<% {"teachFactor" => "Teaching Factor", "learnFactor" => "Learning Factor"}.each do |attr, label| %>
	<%= attribute_badge(@buddy, attr, label, true) %>
	<% end %>

      </div>
    </div>
    
  </div>
</div>
