<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= collection_select :course, :school_id, @schools, :id, :name, {:include_blank => "None"} %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= collection_select :course, :teacher_id, @buddies, :id, :name, {:include_blank => "None"} %>
  </div>
  <div class="field">
    <%= f.label :train_strength %><br />
    <%= f.number_field :train_strength %>
  </div>
  <div class="field">
    <%= f.label :train_constitution %><br />
    <%= f.number_field :train_constitution %>
  </div>
  <div class="field">
    <%= f.label :train_dexterity %><br />
    <%= f.number_field :train_dexterity %>
  </div>
  <div class="field">
    <%= f.label :train_speed %><br />
    <%= f.number_field :train_speed %>
  </div>
  <div class="field">
    <%= f.label :train_flexibility %><br />
    <%= f.number_field :train_flexibility %>
  </div>
  <div class="field">
    <%= f.label :train_reaction %><br />
    <%= f.number_field :train_reaction %>
  </div>
  <div class="field">
    <%= f.label :train_skill %><br />
    <%= f.number_field :train_skill %>
  </div>
  <div class="field">
    <%= f.label :train_intelligence %><br />
    <%= f.number_field :train_intelligence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
