<% if courses.size == 0 %>
 - none -
<% else %>

<table class="table table-bordered table-hover">
  <tr>
    <th rowspan="2">Name
    <% unless defined?(school) %><br />
    <i>School</i>
    <% end %></th>
    <th rowspan="2">Teacher</th>
    <th rowspan="2">Students</th>
    <th colspan="8">Training Attributes</th>
    <th rowspan="2">Intensity</th>
    <th rowspan="2">Risk</th>
    <!--th rowspan="2"></th>
    <th rowspan="2"></th-->
  </tr>
  <tr>
    <th><abbr title="Strength">str</abbr></th>
    <th><abbr title="Constitution">con</abbr></th>
    <th><abbr title="Dexterity">dex</abbr></th>
    <th><abbr title="Speed">spd</abbr></th>
    <th><abbr title="Flexibility">flx</abbr></th>
    <th><abbr title="Reaction">rea</abbr></th>
    <th><abbr title="Skill">skl</abbr></th>
    <th><abbr title="Intelligence">int</abbr></th>
  </tr>

<% courses.each do |course| %>
  <tr>
    <td><%= link_to course.name, course %>
    <% unless defined?(school) %><br />
    <i><%= link_to course.school.name, course.school if course.school %></i>
    <% end %></td>
    <td><%= link_to course.teacher.name, course.teacher if course.teacher %></td>
    <td><%= course.students.map { |s| link_to s.name, s }.join(", ").html_safe %></td>
    <td><%= course.train_strength %></td>
    <td><%= course.train_constitution %></td>
    <td><%= course.train_dexterity %></td>
    <td><%= course.train_speed %></td>
    <td><%= course.train_flexibility %></td>
    <td><%= course.train_reaction %></td>
    <td><%= course.train_skill %></td>
    <td><%= course.train_intelligence %></td>
    <td><%= (course.intensity*100).round %>%</td>
    <td><%= (course.risk*100).round %>%</td>
    <!--td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
<% end %>
