<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span3 box">
    <h1><%= @course.name %></h1>
    <i><%= link_to @course.school.name, @course.school if @course.school %></i>
  <br/>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
  </div>

  <div class="span9">
    <h2>Trained Attributes</h2>
    <div class="row">
      <div class="span5">
	<% ["strength", "constitution", "dexterity", "speed", "flexibility", "reaction", "skill", "intelligence"].each do |attr| %>
	<%= attribute_badge(@course, "train_#{attr}", attr.capitalize) %>
	<% end %>

	<%= attribute_badge(@course, "intensity", "Training Intensity", true) %>
	<%= attribute_badge(@course, "risk", "Risk of Injury", true) %>

      </div>
      <div class="span4">
	<%= image_tag attribute_pie_chart_url(@course) %>
      </div>
    </div>
    <h2>Buddies</h2>
    <h3>Teacher</h3>
    <%= render "buddies/selectable_table", :buddies => @course.teachers, :action => "/courses/remove_teacher", :commits => ["suspend"] %>
    <h3>Students</h3>
    <%= render "buddies/selectable_table", :buddies => @course.students, :action => "/courses/remove_students", :commits => ["dismiss"] %>
    <h3>Others</h3>
    <%= render "buddies/selectable_table", :buddies => @course.school.idle_members, :action => "/courses/add_members", :commits => ["assign", "appoint"] %>
  </div>

</div>

