<h1>Listing players</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Avatar</th>
    <th>Name<br/>Description</th>
    <th>Schools</th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= link_to image_tag(player.avatar.url(:thumb), :class => "img-rounded"), player %></td>
    <td><%= link_to player.name, player %><br/><%= player.description %></td>
    <td><%= render "schools/list", :schools => player.schools %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
