<p id="notice"><%= notice %></p>

<div class="row">
<div class="span3 box">
  <%= image_tag @player.avatar.url(:medium), :class => "img-rounded" %>
  <h1><%= @player.name %></h1>
  <p><%= @player.description %></p>
  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', players_path %>
</div>
<div class="span9">
  <h2>Schools</h2>
  <%= render "schools/table", :schools => @player.schools, :skip_player => true %>
</div>
</div>

